{{!-- This is the form where providers can view their information and update it. --}}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span id="first_name"></span></h2>
    </div>
  </div>
  {{!-- PART OF MVP, MUST HAVE WORKING --}}
  <div class="row">
        <div class="col s3">
            <a class="button btn btn-primary" href="/provider" role="button">Main Page</a>
        </div>
        <div class="col s3">
            <a class="button btn btn-primary" href="/update" role="button">Update Site</a>
        </div>
        <div class="col s3">
            <a class="button btn btn-primary" href="/create" role="button">New Site</a>
        </div>
        <div class="col s3">
            <a class="button btn btn-primary" href="/logout" role="button">Logout</a>
        </div>
  </div>
</div>

{{!-- we need to write a descrip about what they can do --}}
{{!-- This should ping the db_sites API to pull back records --}}
{{!-- The records should have buttons "DELETE" "UPDATE" --}}


<div class="container">
  <h3> Sites:</h3>
  <ul class="collection">
				{{#each sites}}
				<li class="collection-item avatar" data-id="{{this.id}}">
					<span class="title">{{this.facility}}</span>
					<p>Address: {{this.address}}, {{this.city}}, {{this.zip}}<br>
						Phone: {{this.phone_1}} <br>
						Website: <a href="{{this.website}}">{{this.website}}</a><br>
						Additional information: {{this.additional_info}}
					</p>
          <a class="waves-effect waves-light btn delete"><i class="material-icons">delete</i>delete</a>
				</li>
				{{/each}}
			</ul>
</div>

<script src="/assets/js/provider.js"></script>