{{!-- This is the form where providers can view their information and update it. --}}


{{!-- Welcome message for providers, displayed after successful login --}}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>Welcome <span id="first_name"></span></h4>
    </div>
  </div>


  {{!-- PART OF MVP, MUST HAVE WORKING --}}
  {{!-- THis will link to the create page --}}

  <div>
    <a class="button btn btn-primary" href="/site/new" role="button">Add New Site</a>
  </div>
  <div>
    <a class="button btn btn-primary" href="/logout" role="button">Logout</a>
  </div>

</div>

{{!-- we need to write a descrip about what they can do --}}
{{!-- This should ping the db_sites API to pull back records --}}
{{!-- The records should have buttons "DELETE" "UPDATE" --}}


<div class="container">
  <h4> Sites:</h4>

  <table class="striped">
    <thead>
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>County</th>
        <th>City</th>
        <th>Facility</th>
        <th>Address</th>
        <th>Zip</th>
        {{!-- <th>Latitude</th> --}}
        {{!-- <th>Longitude</th> --}}
        <th>Phone #1</th>
        <th>Phone #2</th>
        <th>Website</th>
        <th>Additional Info</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each sites}}
      <tr data-id={{id}}> {{!--//allows us to delete by id --}}
        <td> {{county}} </td>
        <td> {{state}} </td>
        <td> {{county}} </td>
        <td> {{zip}} </td>
        <td> {{latitude}} </td>
        <td> {{logitude}} </td>
        <td> {{phone_1}} </td>
        <td> {{phone_2}} </td>
        <td> {{website}} </td>
        <td> {{additional_info}} </td>
        <td><span class="delete glyphicon glyphicon-remove"></span></td> //needed for delete
      </tr>
      {{/each}}
      {{!-- Our Handlebars code goes here! --}}
      {{!-- <td><span class="delete glyphicon glyphicon-remove"></span></td> --}}
    </tbody>
  </table>
</div>