{{!-- This will look identical to the provider page exect the buttons --}}
{{!-- ***Need to finesse the database fields*** --}}
<div class="container">
	<div>
		<h3> Sites:</h3>
	</div>
	<div class="row">
		<div class="col s12">
			<ul class="collection">
				{{#each sites}}
				<li class="collection-item avatar" data-id="{{this.id}}">
					<span class="title">{{this.facility}}</span>
					<p>Address: {{this.address}}, {{this.city}}, {{this.zip}}<br>
						Phone: {{this.phone_1}} <br>
						Website: <a href="{{this.website}}">{{this.website}}</a><br>
						Additional information: {{this.additional_info}}
					</p>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
