<main>
<div class="container">
	<div>
		<h4> Sites:</h4>
	</div>
	<div class="row">
		<div class="col s12">
			<div id="map"></div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<ul class="collection">
				{{#each sites}}
				<li class="collection-item avatar" data-id="{{this.id}}">
					<h3><span class="title">{{this.facility}}</span></h3>
					<p>Address: {{this.address}}, {{this.city}}, {{this.zip}}<br>
						Phone: {{this.phone_1}} <br>
						Website: <a href="{{this.website}}">{{this.website}}</a><br>
						Additional information: {{this.additional_info}}
					</p>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
</main>


<script src="/assets/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoUsjFYl3W9K6s5G6qEhB7et701_uYIk8&callback=initMap">
</script>