{{!-- This will look identical to the provider page exect the buttons --}}
{{!-- ***Need to finesse the database fields*** --}}
<div class="container">
	<div>
		<h4> Sites:</h4>
	</div>

	<div class="row">
		<div class="col m1">
		</div>
		<div class="col m10">
			<table class="striped">
				<thead>
					<tr>
						<th>Facility</th>
						<th>Address</th>
						<th>City/Town</th>
						<th>County</th>
						<th>Zip</th>
						<th>Phone #1</th>
						<th>Phone #2</th>
						<th>Website</th>
						<th>Additional Info</th>
					</tr>
				</thead>

				<tbody>
					{{#each sites}}
					<tr>
						<td> {{this.facility}} </td>
						<td> {{this.address}} </td>
						<td> {{this.city}} </td>
						<td> {{this.county}} </td>
						<td> {{this.zip}} </td>
						<td> {{this.phone_1}} </td>
						<td> {{this.phone_2}} </td>
						<td> <a href="{{this.website}}">{{this.website}}</a></td>
						<td> {{this.additional_info}} </td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col m1">
		</div>

	</div>
</div>
